/* CSS StyleSheet: "PersonalWebsite.css" */

body {
    background: linear-gradient(rgb(51,204,255) 30%, rgb(3, 17, 61) 40%);
    background-repeat: no-repeat;
    background-attachment:local;
    background-size: contain, cover;
    
    margin: 0;
    
    padding: 0;
    
    height:100%;
}

.header {
    height : 300px;
    width: 600px;
    
    position: relative;
    
    padding: 0px;
    
    margin-bottom: 0px;
    margin-left: 0px;
    
    border: 0px;
}

.avatar {
    width: 220px;
    height: 220px;
    
    position: absolute;
    bottom: -100px;
    left: 50px;
}


h1.name {
    font-family:"Brush Script Mt", "Arial Black",  Gadget, sans-serif;
    text-align: left;
    font-size: 400%;
    color: white;
    
    position: absolute;
    bottom: -40px;
    right: 0px;
    
    padding: 0px;
}

p.bio {
    background-color:#99e6ff;
    
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 265px;
    padding-right: 15px;
    
    position: static;
    top: 0px;
    
    margin-left: 100px;
    margin-right: 400px;
    margin-top: 0px;
    
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 150%;
    
    max-width: 500px;
    overflow: hidden;
}

.gallery {
    
}

img {
    float: left;
    
    padding-top: 200px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 80px;
}

h1 {
    font-family:"Brush Script Mt", "Arial Black",  Gadget, sans-serif;
    text-align:left;
    font-size:400%;
    
    display: inline;
}

p {
    background-color:#99e6ff;
    
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 100%;
    
    margin-left: 100px;
    margin-right: 400px;
    margin-top: 0px;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    border-top-style: solid;
    border-top-width: 3px;
    border-top-color: #cecece;
    
    max-width: 720px;
    
    overflow: hidden;
}

h2, h3 {
    background-color:rgb(51,204,255);
    
    font-family: "Brush Script Mt", "Arial Black",  Gadget, sans-serif;
    text-align: left;
    font-size: 250%;
    color: white;
    
    margin-left: 100px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 0px;

    /*padding-left: 265px;*/
    padding-left: 30px;
    
    max-width: 750px;
}

a:link {
    
    font-family: arial;
    text-align: center;
    font-size: 150%; 
    color: rgb(51,204,255);
    
    padding: 14px 25px;
    
    text-decoration: none;
    background-image: url("PictureOfMe.jpeg");
}

a:hover {
    
}

h4 {
    background-color :rgb(51,204,255);
    
    font-family: "Brush Script Mt", "Arial Black",  Gadget, sans-serif;
    text-align: left;
    font-size: 150%;
    color: white;
    
    margin-left: 100px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 0px;

    /*padding-left: 265px;*/
    padding-left: 30px;
    
    max-width: 750px;
}

div {
    text-align: center;
}