/* CSS StyleSheet: "PersonalWebsite4.css" */

/* 

For Mobile Devices 

*/

body {
    background-color: #EFEFEF;
    margin: 0;
}

.avatar {
    border-radius: 50%;
    border: .6rem solid #00939E;
    width: 11.5rem;
    float: left;
    box-shadow: 0rem .3rem .4rem grey;
    
    margin-right: 2rem;
    margin-left: 1rem;
    
    position: fixed;
    
}

h1 {
    padding-left: 15rem;
    padding-right: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin: 0;
    

    
    font-family: 'Roboto', sans-serif;;
    font-weight: 300;
    font-size: 2.7em;
    color: #EFEFEF;
    
    background-color: #00939E
}

.info{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10%;
    
        
}

.info div {
    border: .2rem solid #00939E;
    border-radius: 1rem;
    
    margin-top: 10%;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    
    padding-left: 2rem;
    padding-right: 2rem;
}
    
p {
    padding-left: 2rem;
    padding-right: 2rem;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    
}
    


/* 

Smaller Phone Viewpoints

*/
@media only screen and (min-width: 320px) {
    
}

/* 

For small devices and most phones

*/
@media only screen and (min-width: 480px) {
    
}

/* 

For Tablets and the like

*/
@media only screen and (min-width: 768px) {
    
}

/* 

For Smaller Desktop

*/
@media only screen and (min-width: 992px) {
    
}

/* 

For Large Devices and Wide Screens

*/
@media only screen and (min-width: 1200px) {
    
}

/* 

For iMacs and Other Large Monitors

*/
@media only screen and (min-width: 2000px) {
    
}
