/* CSS StyleSheet: "PersonalWebsite3.css" */
* {
  box-sizing: border-box;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #EFEFEF;
    margin: 0;
}

.avatar {
    border-radius: 50%;
    /*border: .6rem solid #41AEB6;*/
    border: 0rem solid transparent;
    width: 20rem;
    box-shadow: 0rem .5rem .5rem #005667;
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    
    transition: box-shadow 1s;
}

.avatar:hover {
    box-shadow: 0rem .9rem .9rem #005667;
}
.header {
    
    margin: 0;
    height: 100vh;
    width: 100vw;
    
    background: rgb(0,86,103);
    background: linear-gradient(58deg, rgba(0,86,103,1) 0%, rgba(53,172,181,1) 50%, rgba(239,239,239,1) 100%);
    
    
    padding-top: 20vh;

}
h1 {
  
    /*padding-top: 20%;
    /padding-bottom: 3.3rem;*/
    margin: 0;
    
    font-family: 'Roboto', sans-serif;;
    font-weight: 300;
    font-size: 6rem;
    
    color: #EFEFEF;
    text-align: center;
    
    padding-top: 5vh;
    /*background-color: #41AEB6*/
    
}

.top-nav {
  
    position: absolute;
    left: 50vw;
    transform: translate(-50%, 150%);
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

nav a {
    /*
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    border: .15rem solid #00939E;
    margin: 1vw;
    margin-top: -2vh;
    
    text-decoration: none;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.3vw;
    
    color: #00939E;
    background-color: #EFEFEF;
    background-clip: padding-box;
    /*box-shadow: 0rem .3rem .4rem grey; */
    
    text-decoration: none;
    margin: 1rem;;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    color: #EFEFEF;
    padding: 1rem;
    transition: box-shadow 1s;
    border-radius: 1rem;
    
    
    
    
}

nav a:hover {
    
    box-shadow: 0rem .5rem .5rem #005667;
    
}

.info{
    margin-top: 5%;
}



.info div {
    margin-top: 8%; 
}

.trans-light-bkg {
    border: .2rem solid #00939E;
    border-radius: 1rem;
    transition: box-shadow 1s;
    margin-left: 10vw;
    margin-right: 10vw;   
}

.trans-light-bkg:hover {
    box-shadow: 0rem .5rem .5rem #005667;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    padding: .5rem;
    text-align: center;
}

p {
    padding-bottom: 4vh;
    
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 0;
    
}

.portfolio {
   
    margin-left: 1em;
    margin-right: 1em;
    
    column-count: 4;
    column-gap: 1em;
}

.portfolio img {

  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.portfolio video {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}



.bkg-dark {
    background-color: #DADADA;
    padding-top: 2vh;
}
/* FOR LATER PROJECT

.hidden {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    
    padding-left: 1rem;
}

.experience ul {
    list-style-type: none;
}

.date p::after {
    content: '';
    box-shadow: 0 0 0 .2rem #00939E;
    border-radius: 50%;
    height: .45rem;
    width: .45rem;
    display: inline-block; 
    position: relative;
    
    left: -17rem;
    bottom: -1.4rem;
    
    
}


.date p {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    
    margin-bottom: .3rem;
}
*/


/* SKILLS */


.skills {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction: row;
        
}


.category {

}

.category p {
    padding-bottom: 0;
}

h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    
    margin-bottom: 0;
    
    padding-top: 2vh;
}