

body {
    background: linear-gradient(rgb(51,204,255) 30%, rgb(3, 17, 61) 40%);
    background-repeat: no-repeat;
    background-attachment:local;
    margin: 0;
    padding: 0;
    height:100%;
    background-size: contain, cover;
}

.header {
    height : 300px;
    width: 600px;
    position: relative;
    padding: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    border: 0px;
}

.avatar {
    width: 220px;
    height: 220px;
    position: absolute;
    bottom: -100px;
    left: 50px;
}


h1.name {
    font-family:"Brush Script Mt", "Arial Black",  Gadget, sans-serif;
    text-align:left;
    font-size:400%;
    position: absolute;
    padding: 0px;
    bottom: -40px;
    right: 0px;
}

p.bio {
    background-color:#99e6ff;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-left: 265px;
    padding-right: 15px;
    position: static;
    margin-left: 100px;
    margin-right: 400px;
    margin-top: 0px;
    top: 0px;
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 150%;
    max-width: 500px;
}

.gallery {
    
}

img {
    float: left;
    padding-top: 200px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-left: 80px;
}

h1 {
    font-family:"Brush Script Mt", "Arial Black",  Gadget, sans-serif;
    text-align:left;
    font-size:400%;
    display: inline;
}
p {
    background-color:#99e6ff;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 100%;
}
h2 {
    background-color:rgb(51,204,255);
    font-family:"Brush Script Mt", "Arial Black",  Gadget, sans-serif;
    text-align:center;
    font-size:250%;
}
a {
    background-color:rgb(255,255,255);
    font-family:arial;text-align:center;
    font-size: 150%; 
    color:rgb(51,204,255);
}
h3 {
    background-color:rgb(51,204,255);
    font-family:"Brush Script Mt", "Arial Black",  Gadget, sans-serif; 
    text-align:center;
    font-size:250%;
}
h4 {
    background-color:rgb(51,204,255)
        ;font-family:"Brush Script Mt", "Arial Black",  Gadget, sans-serif;
    text-align:center;
    font-size:150%;
}
div {
    text-align:center;
}